@import '../styles/colors.scss';

.task {
	background: white;
	border-radius: 3px;
	box-shadow: 0 1px 0 #091e4240;
	cursor: pointer;
	margin-bottom: 8px;
	max-width: 100%;
	min-height: 30px;
	padding: 5px;
	position: relative;
	color: $gray100;

	&:hover {
		background: $white;
	}

	&__textarea {
		width: calc(100% - 3px);
		max-width: 100%;
		overflow: hidden;
		overflow-wrap: break-word;
		height: 35px;
		position: absolute;
		top: 0;
		left: 0;
		border: none;
		visibility: hidden;

		&--visible {
			visibility: visible;
			background: $white;
		}
	}
}