$white: #ECEFF1;
$blue900: #0D47A1;
$blue800: #1565C0;
$gray50: #ECEFF1;
$gray800: #37474F;

:export {
	white: $white;
    blue800: $blue800;
    blue900: $blue900;
    gray50: $gray50;
    gray800: $gray800;
}