@import '../styles/colors.scss';

.button {
	display: flex;
	border: none;
	font-size: 16px;
	cursor: pointer;
	color: $gray800;
	padding: 10px;
	background: $gray50;
	height: min-content;
	border-radius: 4px;

	&:hover {
		background: rgba(236, 239, 241, .7);
	}
}

.btn-icon {
	margin-right: 5px;
}