@import '../styles/colors.scss';

.button {
    display: flex;
    border: none;
    font-size: 16px;
    cursor: pointer;
    padding: 0;
    color: $gray;
    padding: 5px;

    &:hover {
        background: #091e4214;
    }
}