@import './styles/colors.scss';
@import './styles/helpers.scss';

.app {
	height: 100vh;
	overflow-y: hidden;
	background: $blue5;
}

.header {
	width: 100%;
	height: 60px;
	background: $blue5;
	padding: 10px;
	color: white;
	font-size: 24px;
	display: flex;
	justify-content: center;
	align-items: center;
	border-bottom: 1px solid hsla(0,0%,100%,0.16);
}

.main-content {
	display: flex;
	min-width: max-content;
	height: calc(100% - 60px);
	background: $blue10;
	padding: 20px;
}